*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
#container{
    display: flex;
}
#sidebar{
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 450px;
    padding-top: 50px;
    flex-direction: column;
    margin-right: 20px;
    position: fixed;
    left: 0;
}
#sidebar>a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    margin-bottom: 10px;
}
#main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 90%;
    margin: auto;
    grid-gap:15px;
    margin-left:12%;
}
#newsbox>img{
    width: 100%;
}
